.idea
www/uploads
www/examples/uploads
www/examples/telegramsendtest.php
www/examples/updatenft.php
forwindows/php
forwindows/nodejs
forwindows/mysql
forwindows/StartMySql.bat
forwindows/mysql-8.1.0-winx64.zip