modules/telegram/services/telegram-ids
modules/telegram/services/temp
modules/stablediffusion/services/temp
modules/crypto/services/temp
settings
modules/openai/services/historyMessages
modules/nft
modules/nft/services/temp